:root {
  --color-primary: #156df2;
  --color-primary-light: #3399fc;
  --color-secondary: #fa9917;
  --color-secondary-light: #fbebed;
  --color-black: #333;
  --color-dark-gray: #4f4f4f;
  --color-gray: #828282;
  --color-light-gray: #bdbdbd;
  --color-light: #e0e0e0;
  --color-white: #fff;

  --border-light: solid 1px #bdbdbd;
  --border-radius-sm: 2px;
  --border-radius-md: 5px;
  --border-radius-lg: 10px;
}

.react-flow__node {
  width: auto;
  border-radius: var(--border-radius-md);
  color: var(--color-primary);
  font-size: 14px;
  font-weight: 600;
  /* padding: 0; */
  /* border: none; */
}

.react-flow__node-tenOutputs:hover,
.react-flow__node-inputText:hover {
  box-shadow: 0 1px 4px 1px rgb(0 0 0 / 8%);
}

.react-flow__node-inputText input {
  border-radius: var(--border-radius-md);
  outline: none;
  border: none;
  border: 1px solid #bdbdbd;
  padding: 3px 6px;
  margin-top: 5px;
}


aside {
  position: absolute;
  z-index: 4;
  padding: 10px;
  margin: 10px;
  border: 1px solid #bdbdbd;
  background: #fff;
}

aside .creator {
  padding: 3px 10px;
  margin-bottom: 5px;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius:  var(--border-radius-md);
  color: var(--color-primary);
  text-align: center;
  font-size: 14px;
  cursor: grab;
}

aside button {
  padding: 5px 10px;
  margin-bottom: 5px;
  outline: none;
  border: none;
  border: 1px solid var(--color-primary);
  border-radius:  var(--border-radius-md);
  background: var(--color-primary);
  color: #fff;
  cursor: pointer;
}

aside button:hover {
  background: var(--color-primary-light);
  border-color: var(--color-primary-light);
}